@import "@radix-ui/themes/styles.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: var(--default-font-family);
  background-color: var(--gray-1);
  color: var(--gray-12);
  -webkit-font-smoothing: antialiased;
}

